* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

.container {
  max-width: 1180px;
  margin: inehrit auto;
}